
.container {
  min-height: 100%;
  font-size: 24*0.01rem;
}

.swiper-container {
  width: 750*0.01rem;
  position: relative;
  padding-top: 80*0.01rem;
}

.swiper_box {
  width: 100%;
  height: 340*0.01rem;
}

.swiper-item img {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  height: 340*0.01rem;
}

.swiper-container .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24*0.01rem;
  display: flex;
  justify-content: center;
}

.swiper-container .dots .dot {
  margin: 0 8*0.01rem;
  width: 16*0.01rem;
  height: 16*0.01rem;
  background: #fff;
  border-radius: 50%;
  transition: all 0.6s;
  opacity: 0.5;
}

.swiper-container .dots .dot.active {
  width: 16*0.01rem;
  opacity: 1;
}

.type-container {
  width: 100%;
  height: 200*0.01rem;
  background-color: #fff;
  overflow: hidden;
}

.type-navbar {
  white-space: nowrap;
  height: 100%;
  width: 100%;
  background-color: #fff;
  text-align:center;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.type-box {
  width: 110*0.01rem;
  box-sizing: content-box;
  font-size: 24*0.01rem;
  text-align: center;
  margin: 0 18*0.01rem;
}

.type-box image {
  width: 110*0.01rem;
  height: 110*0.01rem;
  display: block;
  margin: 8*0.01rem 0 18*0.01rem;
  border-radius: 50%;
}

.type-item-on {
  border-bottom: 4*0.01rem solid #e64340;
}

.goods-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.goods-box {
  position: relative;
  width: 50%;
  height: 472*0.01rem;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
}

.goods-box .new-tag{
  position: absolute;
  top: 0;
  left: 22*0.01rem;
  width: 82*0.01rem;
  height:46*0.01rem;
  line-height: 46*0.01rem;
  background-color: #D61B52;
  text-align: center;
  color: #fff;
}

.goods-box:nth-child(2n+1) {
  border-right: 1px solid #e6e6e6;
}

.goods-box .img-box {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goods-box .img-box image {
  padding: 6*0.01rem;
  height: 282*0.01rem;
}

.goods-box .goods-title {
  width: 320*0.01rem;
  font-size: 24*0.01rem;
  color: #000;
  margin-left: 24*0.01rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 38*0.01rem;
  height: 76*0.01rem;
}
.goods-box .goods-price {
  overflow: hidden;
  font-size: 36*0.01rem;
  color: #d61b52;
  margin-left: 24*0.01rem;
  margin-right: 24*0.01rem;
  display: inline-block;
  vertical-align: middle;
}

.price-wrap {
  position: relative;
  margin: 15*0.01rem 0 0;
}

.origin-price {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10*0.01rem;
  color: #aaa;
  text-decoration: line-through;
}

.yang {
  font-size: 24*0.01rem;
  margin-right: 10*0.01rem;
}

.price {
  font-weight: bold;
}

.orice {
  font-weight: normal;
  text-decoration: line-through;
}

.oy {
  margin-right: 0;
  text-decoration: line-through;
}

.yang, .price {
  display: inline-block;
  vertical-align: baseline;
}

.add-cart{
  width: 40*0.01rem;
  height: 40*0.01rem;
  float: right;
  margin: 10*0.01rem 20*0.01rem 0 0;
}

.no-more-goods {
  text-align: center;
  font-size: 24*0.01rem;
  padding-bottom: 48*0.01rem;
  color: #999;
}

.pos-fiexd {
  position: fixed;
  top: 0;
  left: 0;
}

.search-view {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 500;
  width: 100%;
  padding: 10*0.01rem 0;
  background: #fff;
  display: flex;
  align-content: center;
}

.search-content {
  background:#e6e6e6;
  flex:1;
  display:flex;
  flex-direction:row;
  align-items:center;
  padding-top:auto;
  padding-bottom:auto;
  padding:0 0 0 30*0.01rem;
  border-radius:26*0.01rem;
  box-sizing:border-box;
  height:60*0.01rem;
  margin:0 20*0.01rem 0 0;

}

.search-icon {
  width: 35*0.01rem;
  height: 35*0.01rem;
  margin: 0 15*0.01rem 0 0;
}

.city {
  font-size: 28*0.01rem;
  line-height: 60*0.01rem;
  color: #444;
  padding: 0 20*0.01rem 0 20*0.01rem;
}

.search-input {
  font-size: 26*0.01rem;
  color: #999;
  height: 60*0.01rem;
  line-height: 60*0.01rem;
}

.search-btn {
  width: 150*0.01rem;
  height: 70*0.01rem;
  margin-right: 0*0.01rem;
  background-color: blueviolet;
  font-size: 28*0.01rem;
  align-items: center;
  border-top-left-radius: 0*0.01rem;
  border-bottom-left-radius: 0*0.01rem;
  color: #fff;
  border: none;
  position: relative;
}

.adver {
  width: 100%;
  height: 60*0.01rem;
  margin-bottom: 14*0.01rem;
  display: flex;
  text-align: left;
  font-size: 24*0.01rem;
  color: #666;
  background: #fff;
}

.adver .item {
  flex: 1;
  line-height: 60*0.01rem;
}

.adver image {
  width: 24*0.01rem;
  height: 24*0.01rem;
  margin: 0 24*0.01rem;
  vertical-align: middle;
}

.adver .info {
  display: inline-block;
  vertical-align: middle;
}

.adver-img {
  width: 728*0.01rem;
  height: 94*0.01rem;
  margin: 12*0.01rem 0;
}

.img-wrap{
  width: 100%;
  margin-top: 12*0.01rem;
}

.home-img{
  display: block;
  width: 100%;
  height: 328*0.01rem;
}

.full-gg {
  display: block;
  width: 100%;
  height: 328*0.01rem;
  margin-bottom: 12*0.01rem;
}

.top-title {
  width: 100%;
  font-size: 32*0.01rem;
  color: #444;
  padding: 14*0.01rem 0;
  text-align: center;
  background: #fff;
}